apiVersion: v1
kind: ConfigMap
data:
  POSTGRES_HOST: postgres-svc
  POSTGRES_PORT: "5432"
  POSTGRES_USER: admin
  POSTGRES_DB: udaconnect
  POSTGRES_PASSWORD: secret

  PGADMIN_DEFAULT_EMAIL: user@domain.com
  PGADMIN_DEFAULT_PASSWORD: secret

  CYCLE_TIME_EXPOSURE: "60"
  CYCLE_TIME_LOCATION: "60"

  KAFKA_SERVER: kafka:9092
  KAFKA_TOPIC: locations
  KAFKA_GROUP_ID: locations-group

  gRPC_HOST: person-service-svc
  gRPC_PORT: "5005"
  
metadata:
  name: udaconnect-env
